@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto.ttf");
  font-style: normal;
}

:root {
  --background-primary: #fafafa;
  --background-secondary: #f4f4f4;

  --foreground-primary: #1a1a1a;
  --foreground-secondary: #202020;

  --accent-blue: #3b82f6;
  --accent-blue-hover: #2a69ce;
  --accent-green: #10b981;
  --accent-green-hover: #0d9467;
  --accent-orange: #f59e0b;
  --accent-orange-hover: #ca840a;
  --accent-red: #ef4444;
  --accent-red-hover: #bd3434;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: 0.3s; */
}
html {
  font-size: 16px;
  font-family: "Roboto";
}

body.light-mode {
  --background-primary: #fafafa;
  --background-secondary: #f4f4f4;

  --foreground-primary: #1a1a1a;
  --foreground-secondary: #202020;
}

body.dark-mode {
  --background-primary: #1a1a1a;
  --background-secondary: #202020;

  --foreground-primary: #fafafa;
  --foreground-secondary: #f4f4f4;
}

body {
  background: var(--background-primary);
  color: var(--foreground-primary);
  transition: background 0.3s ease, color 0.3s ease;
}

.dashboard-header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 5px 15px;
  background: var(--background-primary);
}

.dashboard-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.header-menu-button {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.header-menu-bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-menu-bar {
  width: 30px;
  height: 3px;
  background: var(--foreground-primary);
  transition: 0.3s ease;
}

.sidebar-is-opened .header-menu-bar-1 {
  transform: rotate(45deg) translate(6px, 4px);
}
.sidebar-is-opened .header-menu-bar-2 {
  transform: scale(0);
  opacity: 0;
}
.sidebar-is-opened .header-menu-bar-3 {
  transform: rotate(-45deg) translate(6px, -4px);
}

.dashboard-sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  height: calc(100vh - 50px);
  width: 0px;
  background: var(--background-secondary);
  overflow: hidden;
  transition: 0.3s;
}

.dashboard-sidebar.is-opened {
  width: 250px;
}

.dashboard-main {
  padding-top: 50px;
  padding-left: 0px;
  transition: 0.3s;
}

.dashboard-main.sidebar-is-opened {
  padding-left: 250px;
}

.menu-container {
  width: 250px;
  padding: 10px;
  position: relative;
  display: block;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-list-item {
  display: block;
}

.menu-list-item-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: none;
  border: none;
  color: var(--foreground-primary);
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.menu-list-item-link:hover {
  background: var(--background-primary);
}
.menu-list-item-link.is-active {
  background: var(--background-primary);
}

.menu-list-item-with-submenu {
}

.submenu-container {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.submenu-container.submenu-is-opened {
  height: auto;
}

.submenu-list {
  padding-left: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}
.submenu-list-item {
  display: block;
}
.submenu-list-item-link {
  display: block;
  background: none;
  border: none;
  color: var(--foreground-primary);
  text-decoration: none;
  width: 100%;
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.submenu-list-item-link:hover {
  background: var(--background-primary);
}
.submenu-list-item-link.is-active {
  background: var(--background-primary);
}

.dashboard-main-content {
  padding: 10px;
}

.dashboard-page-title {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: baseline;
}

.theme-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: var(--foreground-primary);
  background: var(--background-secondary);
}

.header-user-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.auth-main-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.auth-form-container {
  padding: 25px;
  border: 1px solid var(--background-secondary);
  border-radius: 7px;
  width: 400px;
}

.auth-form-content,
.dashboard-form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form-input-container,
.dashboard-form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.auth-form-input-container label,
.dashboard-form-input-container label {
  font-size: 1rem;
}
.auth-form-input-container input,
.dashboard-form-input-container input {
  color: #1a1a1a;
  background: #fafafa;
  padding: 7px 7px;
  font-size: 0.9rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--foreground-primary);
  transition: 0.3s ease;
}
.auth-form-input-container input:focus,
.dashboard-form-input-container input:focus {
  border: 1px solid var(--accent-blue);
}

.auth-form-checkbox-container {
  width: 100%;
}

.auth-form-submit-container,
.dashboard-form-submit-container {
  width: 100%;
}

.auth-form-submit-container button,
.dashboard-form-submit-container button {
  width: 100%;
  padding: 9px 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--accent-blue);
  color: #fafafa;
  transition: 0.3s ease;
  cursor: pointer;
}

.auth-form-submit-container button:hover,
.dashboard-form-submit-container button:hover {
  background: var(--accent-blue-hover);
}

.auth-form-submit-container button:disabled,
.dashboard-form-submit-container button:disabled {
  background: #303030;
}

.auth-form-logo {
  display: block;
  width: 200px;
  margin: 0 auto 25px;
}

.auth-page-link {
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--foreground-primary);
  transition: 0.3s ease;
}
.auth-page-link:hover {
  color: var(--foreground-secondary);
}

.header-menu-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.header-logo {
  height: 30px;
}

.dashboard-form-inputs-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
}

.select-input-container {
  position: relative;
  background: #fafafa;
  padding: 7px 7px;
  font-size: 0.9rem;
  border-radius: 5px;
  outline: none;
  color: #1a1a1a;
  border: 1px solid var(--foreground-primary);
  transition: border 0.3s ease;
}

.select-input-container.is-opened {
  border: 1px solid var(--accent-blue);
  border-radius: 5px 5px 0 0;
}

.select-input-options-container {
  border-bottom: 1px solid var(--accent-blue);
  border-left: 1px solid var(--accent-blue);
  border-right: 1px solid var(--accent-blue);
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  background: #fafafa;
  border-radius: 0px 0px 5px 5px;
  z-index: 1000;
  overflow: hidden;
}

.select-input-options-list {
  max-height: 200px;
  height: max-content;
  overflow: auto;
}

.select-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  font-size: 1rem;
  align-items: center;
}

.select-input-option-item {
  display: block;
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Roboto";
}
.select-input-option-item:hover {
  background: var(--accent-blue);
}

.select-input-search-container {
  display: block;
  position: relative;
  width: 100%;
  padding: 4px 10px;
}

.select-input-search-container input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #1a1a1a55;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
  font-family: "Roboto";
}

.select-input-selected-value {
  line-height: 1rem;
  font-size: 1rem;
  font-family: "Roboto";
}

.select-input-selected-value-multi-item {
  position: relative;
  padding: 0px 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  gap: 5px;
  z-index: 1;
}

.select-input-selected-value-multi-item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: calc(100% + 6px);
  background: #e0e0e0;
  border-radius: 3px;
  z-index: -1;
}

.select-input-value-container {
  display: flex;
}
.select-input-value-container svg {
  font-size: 12px;
  cursor: pointer;
}

/* .dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  align-content: center;
  text-align: center;
}

.dashboard-table th:first-of-type,
.dashboard-table td:first-of-type {
  align-content: left;
  text-align: left;
}

.dashboard-table th:last-of-type,
.dashboard-table td:last-of-type {
  align-content: right;
  text-align: right;
} */

.dashboard-header-user-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.dashboad-header-user-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-content: center;
}

.dashboad-header-user-details-icon {
  width: 30px;
  height: 30px;
}

.dashboad-header-user-details-icon svg {
  width: 100%;
  height: 100%;
}

.dashboad-header-user-details-name {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.dashboad-header-user-details-name span {
  font-size: 12px;
}

.dashboard-header-user-logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: var(--foreground-primary);
  background: var(--background-secondary);
}

.dashboard-table-actions-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: flex-end;
}

.dashboard-table-action-button {
  color: #fafafa;
  border: 1px solid var(--foreground-secondary);
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background: var(--accent-blue);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.dashboard-autocomplete-button {
  pointer-events: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: var(--foreground-primary);
  background: var(--accent-blue);
  margin-left: 5px;
  opacity: 0;
  transform: translateX(30px);
  transition: 0.2s ease;
}

.dashboard-autocomplete-button.is-visible {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0px);
}

.dashboard-form-container {
  padding-top: 15px;
}
